*{
  margin: 0;
  padding: 0;
}
body{
  background-color: teal;

}
/*div{
  background-color: rgb(196, 228, 255);
  text-align: center;
  height: 500px;
  
}*/
.error-boundary{
  background-color: peachpuff;
  height: 80vh;
}
header{
  width: 100%;
  height:10vh;
  background-color: rgb(252, 220, 160);
  padding:2rem;
  display: flex;
  justify-content: space-evenly;


}
.list{
  list-style: none;
  display: flex;
  
  
}
.navigate{
  text-decoration: none;
  padding: 25px;
  text-transform: capitalize;
  color: teal;
  border-radius: 1.0rem;
  border:0;
  font-size: 1.3rem;
  font-weight: 500;
  transition: all 0.3s;
  
  
}
button{
  background-color: rgb(252, 220, 160);
  color:  #da370e;
  font-size: 0.9rem;
  font-weight: bold;
  transition: all 0.3s;
  border-radius: 0;
  padding: 15px;
  border-radius:15px;
  margin-top: 60px;
  width: 200px;
  margin: 20px;
}

h1{
  color:#ece8e7;
  font-size: 60px;
  font-weight: 800;
  font-family: 'Courier New', Courier, monospace;
  margin-bottom: 5px;
}
h2{
  color:white;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  font-size: 60px;
  
}
p{
  color: teal;
  text-align: center;
  font-size: 70px;
  font-weight: bold;
  margin-top: 40px;
  padding: 40px;
  width:100%;
  background-color: rgb(252, 220, 160);
  font-family: 'Courier New', Courier, monospace;
}
.Counter{
 text-align: center;

}
error{
  text-align:center;
}
div{
  text-align: center;
  margin-top: 50px;
}
h4{
  color:white;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  font-size: 60px;

}
input{
  background-color: rgb(252, 220, 160);
  color:  #da370e;
  font-size: 0.9rem;
  font-weight: bold;
  transition: all 0.3s;
  border-radius: 0;
  padding: 15px;
  border-radius:15px;
  margin-top: 60px;
  width: 200px;
  margin: 20px;
}